
* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.app-container {
  background: url('./images/tacos-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-header {
  width: 100%;
  background-color: #6a2800;
  color: #ffffff; 
  font-family: 'Fira Sans', sans-serif;
  min-height: 100px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  padding: 10px; 
}

.logo-text {
  margin: 0; 
  font-size: 3rem; 
}

.header-subtext {
  font-size: 1.5rem; 
}

h3 {
  margin: 20px 0 0 0;
} 

p {
  margin: 0;
}

pre {
  text-align: left;
  background: lightgray;
  padding: 20px;
  color: black;
}

.url-path {
  margin: 15px 0;
  font-weight: 800
}

.endpoint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 100%;
}

.info-area {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.endpoint-item-container {
  background: #617200;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: white;
}

.endpoint-text-container {
  margin-left: 20px;
}

button {
  width: 200px;
  cursor: pointer; 
  font-weight: 700;
  font-size: 1rem;
}

button:hover {
  background-color: #364F5C; 
  color: #ffffff; 
}

.button-and-path-container {
  display: flex;
  justify-content: flex-start;
  background-color: #364F5C; 
}

.about {
  background: #a3d68f;
  width: 60%;
  margin: 50px;
  padding: 20px;
}

.about h2 {
  margin: 0 0 20px 0;
}
