
* {
  box-sizing: border-box;
}

.doc-header {
  background-color: #E60000;
  color: #ffffff; 
  font-family: 'Fira Sans', sans-serif;
  height: 200px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-around; 
  padding: 10px; 
}

.logo-text {
  margin: 0; 
  font-size: 3rem; 
}

.header-subtext {
  font-size: 1.5rem; 
}

.taco-image-container {
  width: 100%; 
  height: 700px; 
  background: url('./images/tacos-2.jpg');
  background-position: right center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin-bottom: 30px;  
}

pre {
  text-align: left;
  background: lightgray;
  padding: 20px 30px 40px 0;
  color: black;
}

button {
  width: 100px;
}

.endpoint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-area {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.endpoint-item-container {
  background: #808080;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: white;
}

.button-and-path-container {
  display: flex;
  justify-content: flex-start;
}
